.navbar-container {
    height: 70px;
    width: 100%;
    background-color: #A9BCD0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.navbar-col-5 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.profile-icon {
    height: 35px;
    /* width:40px; */
}

.upload-icon {
    height: 45px;
}

.explore-icon {
    height: 37px;
}